In [ ]:
# For sending GET requests from the API
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

In [ ]:
# set enviornment variable for later usage
os.environ['TOKEN'] = '<here you need to insert your token - as this is a security secret belonging to my personal account - like a password - it is not provided in this file'

In [ ]:
# define method to authenticate
def auth():
    return os.getenv('TOKEN')

In [ ]:
# build method to create header
def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers

In [ ]:
# build method to create URL
def create_url(keyword, max_results = 10):
    
    search_url = "https://api.twitter.com/2/tweets/search/recent" #Change to the endpoint you want to collect data from

    #change params based on the endpoint you are using
    query_params = {'query': keyword,
                    # 'start_time': start_date, # defaulted to 7 days ago
                    # 'end_time': end_date, # defaulted to 30 seconds ago
                    'max_results': max_results,
                    'expansions': 'author_id,in_reply_to_user_id,geo.place_id',
                    'tweet.fields': 'id,text,author_id,in_reply_to_user_id,geo,conversation_id,created_at,lang,public_metrics,referenced_tweets,reply_settings,source',
                    'user.fields': 'id,name,username,created_at,description,public_metrics,verified',
                    'place.fields': 'full_name,id,country,country_code,geo,name,place_type',
                    'next_token': {}}
    return (search_url, query_params)

In [ ]:
# build metthod to create connection to targeted endpoint (API)
def connect_to_endpoint(url, headers, params, next_token = None):
    params['next_token'] = next_token   #params object received from create_url function
    response = requests.request("GET", url, headers = headers, params = params)
    print("Endpoint Response Code: " + str(response.status_code))
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()

In [ ]:
# set topic and language for further processing
# note: this is changed per execution of this script in order to generate different pools of topics

# topic = "covid lang:en"
topic = "research lang:en"
# max_results = 10
# max_tweets = 30
max_results = 100
max_tweets = 20000

In [ ]:
# inputs for the request
bearer_token = auth()
headers = create_headers(bearer_token)
keyword = topic

In [ ]:
# create web service call
url = create_url(keyword, max_results)

In [ ]:
# test - just check how it looks like
url

('https://api.twitter.com/2/tweets/search/recent',
 {'expansions': 'author_id,in_reply_to_user_id,geo.place_id',
  'max_results': 100,
  'next_token': {},
  'place.fields': 'full_name,id,country,country_code,geo,name,place_type',
  'query': 'research lang:en',
  'tweet.fields': 'id,text,author_id,in_reply_to_user_id,geo,conversation_id,created_at,lang,public_metrics,referenced_tweets,reply_settings,source',
  'user.fields': 'id,name,username,created_at,description,public_metrics,verified'})

In [ ]:
# get data for defined search term
# use predefined methods and call it in a loop as only around 100 entries can be requested with one call
# also build in a delay in order to avoid to get blocked by Twitter API
# this is done iteratively and the dataframe df is filled accordingly with the combined end result of all calls
# furthermore the entire loops ends if eitehr no further data can be retrieved by Twitter with the current 
# search settings or the limit of 20000 entries is reached (do not select more in order to ensure the terms are
# at the end to a certain degree balanced)

df = pd.DataFrame()

try:
  del df
except NameError:
  print("Should not happen")

end_criterion = 0
next_token = None # initialize for first run
while end_criterion == 0:
  # perform web service call

  try:
    json_response = connect_to_endpoint(url[0], headers, url[1], next_token)
    df_tmp = pd.DataFrame(json_response['data'])
    try:
      df = df.append(df_tmp)
      print("Log: df_tmp appended to df")
    except NameError:
      # should only appear the first time
      print("Log: First run, set df with df_tmp")
      df = df_tmp
    print("Log: df has now a length of " + str(len(df)))
    
    try:
      next_token = json_response['meta']['next_token']
    except KeyError:
      print("Log: Caught Error - No next token available.")
      next_token = None

    if not next_token:
      print("Log: No next token available, all tweets regarding the topic " + topic + " received for the last 7 days.")
      end_criterion = 1
    if len(df) >= max_tweets:
      print("Log: Maximal number of " + str(max_tweets) + " tweets we want to collect reached.")
      end_criterion = 1
    if end_criterion == 0:
      # only wait if the loop continues
      time.sleep(30) # Sleep for 30 seconds
  except (ConnectionError, ConnectionResetError, ProtocolError) as ce:
    # wait for 30 seconds and re-try the call - hope it was only a one time error
    print("Caught Connection Error, ConnectionResetError, or ProtocolError")
    print(ce)
    time.sleep(30) # Sleep for 30 seconds

Endpoint Response Code: 200
Log: First run, set df with df_tmp
Log: df has now a length of 100
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 200
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 300
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 400
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 500
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 600
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 700
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 800
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 900
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1000
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1100
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1200
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1300
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1400
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1500
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1600
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1700
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1800
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 1900
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2000
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2100
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2200
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2300
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2400
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2500
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2600
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2700
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2800
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 2900
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3000
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3100
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3200
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3300
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3400
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3500
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3600
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3700
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3800
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 3900
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4000
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4100
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4200
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4300
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4400
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4499
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4599
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4699
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4799
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4899
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 4999
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5099
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5199
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5299
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5399
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5499
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5599
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5699
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5799
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5899
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 5999
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6099
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6198
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6298
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6398
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6498
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6598
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6698
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6798
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6898
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 6998
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7098
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7198
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7297
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7397
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7497
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7597
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7697
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7797
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7897
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 7997
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8097
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8197
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8297
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8396
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8496
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8595
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8695
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8795
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8895
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 8995
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9095
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9195
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9295
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9395
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9495
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9595
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9695
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9795
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9895
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 9995
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10095
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10195
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10295
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10395
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10495
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10595
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10695
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10795
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10895
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 10995
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11095
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11195
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11295
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11395
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11495
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11595
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11695
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11795
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11895
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 11995
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12095
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12195
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12295
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12395
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12495
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12595
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12695
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12795
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12895
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 12995
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13095
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13195
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13295
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13395
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13494
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13594
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13694
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13794
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13894
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 13994
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14094
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14193
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14293
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14393
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14492
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14592
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14692
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14791
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14891
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 14991
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15091
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15191
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15291
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15391
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15491
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15591
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15691
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15791
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15891
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 15990
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16090
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16190
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16290
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16389
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16488
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16588
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16688
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16788
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16888
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 16988
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17088
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17187
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17287
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17387
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17487
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17587
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17686
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17786
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17886
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 17985
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18085
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18185
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18285
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18385
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18483
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18583
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18682
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18782
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18882
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 18982
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19082
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19182
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19282
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19382
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19482
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19582
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19682
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19782
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19882
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 19982
Endpoint Response Code: 200
Log: df_tmp appended to df
Log: df has now a length of 20082
Log: Maximal number of 20000 tweets we want to collect reached.

In [ ]:
# check created data frame
df

   lang                                               text  ...  geo withheld
0    en  RT @Sig_thesisFF: The Siggraph Thesis Fast For...  ...  NaN      NaN
1    en  RT @JRNYcrypto: Its crazy to think NFTs are be...  ...  NaN      NaN
2    en  @Al_Red_Mac @walrozt First, Alastair you were ...  ...  NaN      NaN
3    en  RT @bodHOST: Discover the research by Microsof...  ...  NaN      NaN
4    en  A fuller picture of who really drove the riot ...  ...  NaN      NaN
..  ...                                                ...  ...  ...      ...
95   en  RT @arc_nt: The ARC North Thames Early Career ...  ...  NaN      NaN
96   en  Latest research has shown that curly hair ladi...  ...  NaN      NaN
97   en  Research into how deep the layers of damage ca...  ...  NaN      NaN
98   en  RT @Sara_Edw: We’re hiring! Looking for ~10 su...  ...  NaN      NaN
99   en  @BigJMcC @TheAgentNDN @DarrylLeroux Thank you!...  ...  NaN      NaN

[20082 rows x 13 columns]

In [ ]:
# create a file to store the gathered data for later usage
text_file_name = "data_" + str(topic) + ".csv"
text_file_name

'data_research lang:en.csv'

In [ ]:
# send csv to local storage where it can be further processed and copied (file system)
df.to_csv(text_file_name)

In [ ]:
# final check about the length - how many tweets were read during this cycle
len(df)

20082