# Create Data Bucket for Model Training

## Load relevant packages

In [ ]:
# dependencies
import pandas as pd
from nltk.corpus import stopwords
import string
from nltk.stem.wordnet import WordNetLemmatizer
import io
from google.colab import files
from collections import Counter
import nltk

## Load Data

In [ ]:
# call function to select file to upload
# note: depending on the targeted data set (complete or compact) different input data needs to be loaded
uploaded = files.upload()

Saving preprocessed_climate change.csv to preprocessed_climate change (1).csv
Saving preprocessed_covid.csv to preprocessed_covid (1).csv
Saving preprocessed_data privacy.csv to preprocessed_data privacy (1).csv
Saving preprocessed_electric vehicle.csv to preprocessed_electric vehicle (1).csv
Saving preprocessed_gaming.csv to preprocessed_gaming (1).csv
Saving preprocessed_movie.csv to preprocessed_movie (1).csv
Saving preprocessed_olympic games.csv to preprocessed_olympic games (1).csv
Saving preprocessed_racism.csv to preprocessed_racism (1).csv
Saving preprocessed_stock market.csv to preprocessed_stock market (1).csv
Saving preprocessed_ukraine conflict.csv to preprocessed_ukraine conflict (1).csv

In [ ]:
# initatie empty dataframe for all the content
# load data from CSV into data frame
df_complete = pd.DataFrame()
run = 1

for key, value in uploaded.items():
  print('Log: Run #' + str(run) + ' started.')
  print('Log: File: ' + str(key) + ' is being to read in.')
  # read in data from uploaded csv
  d = pd.read_csv(io.BytesIO(value), dtype=str)
  # check some details per load
  display(d.head(3))
  print(d.columns)
  # add to complete df
  df_complete = df_complete.append(d)
  print('Log: End of run')
  run = run + 1

Log: Run #1 started.
Log: File: preprocessed_climate change.csv is being to read in.

  Unnamed: 0  ...  retweeted
0          0  ...  retweeted
1          1  ...  retweeted
2          2  ...  retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #2 started.
Log: File: preprocessed_covid.csv is being to read in.

  Unnamed: 0  ...  retweeted
0          0  ...  retweeted
1          1  ...  retweeted
2          2  ...  retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #3 started.
Log: File: preprocessed_data privacy.csv is being to read in.

  Unnamed: 0  ...   retweeted
0          0  ...  replied_to
1          1  ...   retweeted
2          2  ...   retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #4 started.
Log: File: preprocessed_electric vehicle.csv is being to read in.

  Unnamed: 0  ...  retweeted
0          0  ...  retweeted
1          1  ...  retweeted
2          2  ...  retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #5 started.
Log: File: preprocessed_gaming.csv is being to read in.

  Unnamed: 0  ...  retweeted
0          0  ...  retweeted
1          1  ...  retweeted
2          2  ...  retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #6 started.
Log: File: preprocessed_movie.csv is being to read in.

  Unnamed: 0  ...  retweeted
0          0  ...  retweeted
1          1  ...  retweeted
2          2  ...  retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #7 started.
Log: File: preprocessed_olympic games.csv is being to read in.

  Unnamed: 0  ...  retweeted
0          0  ...  retweeted
1          1  ...  retweeted
2          2  ...  retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #8 started.
Log: File: preprocessed_racism.csv is being to read in.

  Unnamed: 0  ...   retweeted
0          0  ...   retweeted
1          1  ...   retweeted
2          2  ...  replied_to

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #9 started.
Log: File: preprocessed_stock market.csv is being to read in.

  Unnamed: 0  ...   retweeted
0          0  ...  replied_to
1          1  ...  replied_to
2          2  ...  replied_to

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run
Log: Run #10 started.
Log: File: preprocessed_ukraine conflict.csv is being to read in.

  Unnamed: 0  ...   retweeted
0          0  ...  replied_to
1          1  ...  replied_to
2          2  ...   retweeted

[3 rows x 14 columns]

Index(['Unnamed: 0', 'topic_theme', 'author_id', 'created_at', 'geo',
       'tweet_id', 'lang', 'like_count', 'quote_count', 'reply_count',
       'retweet_count', 'source', 'text', 'retweeted'],
      dtype='object')
Log: End of run

## Check loaded Data

In [ ]:
# check - all entries read in
len(df_complete)

167272

In [ ]:
# check first 10 rows
df_complete.head(10)

  Unnamed: 0  ...   retweeted
0          0  ...   retweeted
1          1  ...   retweeted
2          2  ...   retweeted
3          3  ...   retweeted
4          4  ...      quoted
5          5  ...   retweeted
6          6  ...   retweeted
7          7  ...  replied_to
8          8  ...  replied_to
9          9  ...  replied_to

[10 rows x 14 columns]

In [ ]:
# check 10 random rows
df_complete.sample(n = 10)

      Unnamed: 0  ...   retweeted
19532      19532  ...   retweeted
8874        8874  ...  replied_to
12764      12764  ...   retweeted
16847      16847  ...   retweeted
12035      12035  ...  replied_to
716          716  ...  replied_to
4743        4743  ...   retweeted
4383        4383  ...   retweeted
13744      13744  ...   retweeted
18760      18760  ...   retweeted

[10 rows x 14 columns]

## Adjust and Save Data for further Processing

In [ ]:
# create new dataframe with relevant columns (topic theme for control and text for content --> in order to model topic)
df_complete_compact = df_complete[['topic_theme', 'tweet_id', 'text']]
df_complete_compact

           topic_theme  ...                                               text
0       climate change  ...  RT @FeministWeiner: "Climate Change" Justin Tr...
1       climate change  ...  RT @DanielTurnerPTF: The top 5 deadliest torna...
2       climate change  ...  RT @disclosetv: JUST IN - Russia vetoes UN res...
3       climate change  ...  Russia's not falling for that crap! IN - Russi...
4       climate change  ...  It‚Äôs exciting to see more incentives to suppor...
...                ...  ...                                                ...
4401  ukraine conflict  ...  RT @PrplScrubsCHPN: @RonFilipkowski @Judson4Co...
4402  ukraine conflict  ...  RT @SkyNews: Speaking at his annual news confe...
4403  ukraine conflict  ...  @Morearighty It's easy. I'm a Russian immigran...
4404  ukraine conflict  ...  RT @France24_en: @RobParsonsF24 The Wagner Gro...
4405  ukraine conflict  ...  Lots of progressives rightfully questioning th...

[167272 rows x 3 columns]

In [ ]:
# save newly created and combined data set to local storage for further processing
df_complete.to_csv("data_compact_all_types.csv")