In [ ]:
# load relevant packages
import datetime
import dateutil.parser
import math
import ast

In [ ]:
# load library to upload data in colab
from google.colab import files
# call function to select file to upload
uploaded = files.upload()

Saving data_ukraine conflict lang_en_2022_01_02_4500.csv to data_ukraine conflict lang_en_2022_01_02_4500.csv

In [ ]:
# import io to get access to io functions
import io
# load pandas to use its functions
import pandas as pd
# read uploaded file
d = pd.read_csv(io.BytesIO(uploaded['data_ukraine conflict lang_en_2022_01_02_4500.csv']), dtype=str)
# Dataset is now stored in a Pandas Dataframe

In [ ]:
# store topic theme
topic = "ukraine conflict"

In [ ]:
# test length
len(d)

4406

In [ ]:
# check dataframe
d

     Unnamed: 0               source  ...  geo withheld
0             0   Twitter for iPhone  ...  NaN      NaN
1             1      Twitter Web App  ...  NaN      NaN
2             2      Twitter Web App  ...  NaN      NaN
3             3   Twitter for iPhone  ...  NaN      NaN
4             4      Twitter Web App  ...  NaN      NaN
...         ...                  ...  ...  ...      ...
4401          6  Twitter for Android  ...  NaN      NaN
4402          7     Twitter for iPad  ...  NaN      NaN
4403          8  Twitter for Android  ...  NaN      NaN
4404          9  Twitter for Android  ...  NaN      NaN
4405         10   Twitter for iPhone  ...  NaN      NaN

[4406 rows x 14 columns]

In [ ]:
# test - check row
d['text'][1]

"US pledges to help Ukraine shore up border with Russia, Belarus: report https://t.co/Emuk7p4LaN via @Yahoo PUTIN THINKS THE U.S. WONT DEFEND UKRAINE'S BORDER IF THEY ATTACK. THE U.S ISN'T IN ANY CONFLICT RIGHT NOW AND WE NEED ANOTHER WAR FOR THE MEN WHO CAME BACK HOME!"

In [ ]:
# test - check column
d['author_id']

0       1179464402791219206
1       1251224826984804352
2        950864773087932416
3                 104700877
4       1037420964320104450
               ...
4401             2787089534
4402             3053193701
4403              122756897
4404    1400022519613214720
4405     712345202971643906
Name: author_id, Length: 4406, dtype: object

In [ ]:
# loop over the loaded dataframe and perform some required preporcessings for further usages
# for instance, the Twitter API stores sometimes a list in a field resulting in deep table structures
# however, it is not desired to have these deep structures in later stages and this has to be done for all obtained data
# thus, this flattening should be done for all loaded Twitter data
# new data row is stored to new dataframe df
# here the preprocessed dataframe of d is then stored
df = pd.DataFrame()

for index, row in d.iterrows():
    # We will create a variable for each since some of the keys might not exist for some tweets
    # So we will account for that

    # 0. Topic Theme
    topic_theme = topic

    # 1. Author ID
    author_id = row['author_id']

    # 2. Time created
    try:
      created_at = dateutil.parser.parse(row['created_at'])
    except TypeError:
      created_at = row['created_at']

    # 3. Geolocation
    geo = row['geo']

    # 4. Tweet ID
    tweet_id = row['id']

    # 5. Language
    lang = row['lang']

    # 6. Tweet metrics
    # transform string to dictionary
    try:
      public_metrics = ast.literal_eval(row['public_metrics'])
      
      retweet_count = public_metrics['retweet_count']
      reply_count = public_metrics['reply_count']
      like_count = public_metrics['like_count']
      quote_count = public_metrics['quote_count']
    except ValueError:
      retweet_count = "nan"
      reply_count = "nan"
      like_count = "nan"
      quote_count = "nan"


    # 7. source
    source = row['source']

    # 8. Tweet text
    text = row['text']

    # 9. Retweeted
    try:
      referenced_tweets = ast.literal_eval(row['referenced_tweets'])
    except ValueError:
      retweeted = referenced_tweets

    retweeted = referenced_tweets[0]['type']
    
    # Assemble all data in a list
    res = [topic_theme, author_id, created_at, geo, tweet_id, lang, like_count, quote_count, reply_count, retweet_count, source, text, retweeted]
    
    if index == 0:
      # first time, so create dataframe from list
      df = pd.DataFrame([res], columns = ["topic_theme", "author_id", "created_at", "geo", "tweet_id", "lang", "like_count", "quote_count", "reply_count", "retweet_count", "source", "text", "retweeted"])
    else:
      df_length = len(df)
      if df_length % 1000 == 0:
        # log where we are, every 1000s entry
        print(df_length)
      df.loc[df_length] = res

1000
2000
3000
4000

In [ ]:
# check new preprocessed data frame
df

           topic_theme  ...   retweeted
0     ukraine conflict  ...  replied_to
1     ukraine conflict  ...  replied_to
2     ukraine conflict  ...   retweeted
3     ukraine conflict  ...   retweeted
4     ukraine conflict  ...   retweeted
...                ...  ...         ...
4401  ukraine conflict  ...   retweeted
4402  ukraine conflict  ...   retweeted
4403  ukraine conflict  ...  replied_to
4404  ukraine conflict  ...   retweeted
4405  ukraine conflict  ...   retweeted

[4406 rows x 13 columns]

In [ ]:
# check length - should be the same as for d
len(df)

4406

In [ ]:
# should be true
len(df) == len(d)

True

In [ ]:
# create new file for preprocessed data - and ensure the name fits to a certain degree with the input file
text_file_name = "preprocessed_" + str(topic) + ".csv"
text_file_name

'preprocessed_ukraine conflict.csv'

In [ ]:
# send file to local storage where it can be further processed
df.to_csv(text_file_name)